.drop-down {
    list-style: none;
    overflow: hidden;
    height: 172px;
    background-color: #34495e;
    font-family: Arial;
    width: 200px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
}

.drop-down.closed {
    height: 43px;
}

.drop-down li:first-child {
    display: flex;
    align-items: center;
}

.drop-down li:first-child a {
    flex: 1;
}

.drop-down li:first-child div {
    font-size: 12px;
    padding: 0.5rem;
    cursor: pointer;
}


.drop-down li {
    border-bottom: 5px solid #2c3e50;
}

.drop-down li a {
    display: block;
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px;
}

.dropdown-Open-Button {
    color: var(--opacity-black-color);
}

.combobox {
    height: 30px;
    /* width: 15vw; */
}

.combobox input{
    padding-right: 2rem;
    text-overflow: ellipsis;
}
.combobox .dropdownlist {
    width: calc(100% + 2.4px);
    display: none;
    border-radius: 2px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: none;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: auto;
    position: relative;
    z-index: 100;
    border: 1.4px solid var(--opacity-black-color);
    margin-left: -1.34px;

    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transition: all .3s ease;
}

.combobox .combobox-open.dropdownlist {
    display: block;
    border-top: 0px solid var(--opacity-black-color);
    animation-name: open-combobox;
}

.combobox .combobox-close.dropdownlist {
    display: block;
    animation-name: close-combobox;
}

.combobox .dropdownlist p {
    display: block;
    text-decoration: none;
    color: #000;
    cursor: default;
    margin: 0px;
    padding: .5rem;
    border-top: 1.4px solid #eeeeee;
}

.combobox .dropdownlist p.light {
    background-color: #ced4da;
    cursor: pointer;
}

.combobox span {
    position: absolute;
    margin-left: -1.75em;
    cursor: pointer;
    margin-top: 11px;
    transition: all .3s;
    font-size: 13px;
}

@keyframes open-combobox {
    from {
        max-height: 0;
    }

    to {
        max-height: calc(5 * 43px);
    }
}

@keyframes close-combobox {
    from {
        max-height: calc(5 * 43px);
    }

    to {
        max-height: 0;
    }
}