*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-size: 16px;
}

body {
    background-attachment: fixed;
    background-color: #1a1917;
    background-image: url(../img/body_bg.png);
    background-position: top left;
    background-repeat: no-repeat;

    font-family: Arial, Helvetica, sans-serif;
    --opacity-black-color: rgba(0, 0, 0, 0.6);
    --opacity-white-color: rgba(245, 245, 245, 0.8);
    --white-text-color: white;
    --default-transition: all .3s ease;

    color: var(--white-text-color);
    overflow: hidden;
}

body:has(.alert) .content {
    overflow: visible;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--opacity-white-color);
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(245, 245, 245, 1);
}

.required {
    color: mediumvioletred;
    font-weight: bold;
}

.hover-effect-zoom,
.hover-effect-leap-right {
    transition: var(--default-transition);
    cursor: pointer;
}

.hover-effect-zoom:hover {
    transform: scale(1.2);
}

.hover-effect-leap-right:hover {
    transform: translate(1rem, 0);
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.color-inverted {
    filter: invert(1);
}

.invisible {
    opacity: 0;
}

.display-flex {
    display: flex;
}

.header {
    background-color: var(--opacity-black-color);
    position: absolute;
    display: flex;
    top: 1vh;
    left: 1vh;
    width: calc(100% - 2vh);
    height: 8vh;
    align-items: center;
    padding: 2rem;
}

.icon {
    height: 100%;
}

.icon img {
    height: 100%;
}

.header-menu {
    flex: 1;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
}

.header-menu .menu-item {
    padding: 2rem;
    display: flex;
    align-items: center;
}

.header-menu .menu-item img {
    height: 19px;
    padding-right: 0.5rem;
}

.header-menu-items {
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: space-around;
}

.header-user-box,
.header-user-box .user-icon,
.header-user-box .search-icon {
    height: 100%;
}

.header-user-box {
    display: flex;
    align-items: center;
    min-width: 200px;
    justify-content: space-around;
}

.header-user-box>div {
    margin: 0.5rem;
}

.header-user-box .notification {
    display: flex;
    background-color: var(--opacity-white-color);
    border-radius: 100%;
}

.header-user-box .all-apps {
    display: flex;
}

.header-user-box .notification>svg {
    margin: 0.5rem;
    color: black;
}

.header-user-box .all-apps>svg,
.header-user-box .notification>svg {
    height: 25px;
    width: 25px;
}

.header-user-box .user-icon,
.header-user-box .search-icon {
    background-color: var(--opacity-white-color);
    border-radius: 100%;
    min-height: 36px;
    min-width: 36px;
}

.header-user-box .user-icon img {
    height: 100%;
    width: 100%;
    padding: 0.3rem;
}

.header-user-box .search-icon img {
    height: 100%;
    width: 100%;
    padding: 0.5rem;
}

.navigation-bar {
    position: absolute;
    display: flex;
    top: 10vh;
    width: 20vw;
    height: calc(100vh - 11vh);
    background-color: var(--opacity-black-color);
    flex-direction: column;
    padding-top: 1rem;
    transition: var(--default-transition);
    overflow: hidden;
}

.navigation-bar-left {
    left: 1vh;
}

.navigation-bar .menu-item {
    display: flex;
    padding: 1rem 2rem 0 2rem;
    flex-direction: column;
}

.navigation-bar .menu-item div {
    display: flex;
}

.navigation-bar .menu-item .menu-item-header {
    align-items: center;
    cursor: default;
}

.navigation-bar .menu-item .menu-item-children {
    margin-top: 0.5rem;
    margin-left: 2.5rem;
    flex-direction: column;
}

.navigation-bar .menu-item .menu-item-children>div {
    padding: 0.25em 0;
}

.navigation-bar .menu-item img {
    height: 19px;
    padding-right: 0.5rem;
}

.navigation-bar.collapsed {
    width: 3vw;
    align-items: center;
}

.navigation-bar.collapsed .menu-item {
    padding-left: 0.5rem;
}

.navigation-bar.collapsed .menu-item {
    padding-left: 0.5rem;
}

.navigation-bar.collapsed .menu-item .open-close-icon,
.navigation-bar.collapsed .menu-item .menu-item-header div,
.navigation-bar.collapsed .menu-item .menu-item-children {
    display: none;
}

.navigation-bar.collapsed .menu-item {
    padding: 0;
}

.navigation-bar.collapsed .menu-item img {
    height: 25px;
}

menu-item-header .open-close-icon {
    display: flex;
    padding-right: 0.5rem;
    height: 12px;
    cursor: pointer;
    transition: var(--default-transition);
    margin-top: -2px;
}

.open-close-icon.open {
    transform: rotate(90deg);
    margin-top: 4px;
}


.open-close-icon svg {
    color: var(--opacity-white-color);
}

.content {
    position: absolute;
    display: flex;
    top: 10vh;
    left: calc(20vw + 2vh);
    width: calc(100vw - calc(20vw + 3vh));
    height: calc(100vh - 11vh);
    background-color: var(--opacity-black-color);
    overflow: auto;
    padding: 1rem 2rem 0 2rem;
}

#schichtplan-creator,
#mitarbeiter-overview {
    width: 100%;
    max-height: calc(100% - 2em);
}

@keyframes popup {
    from {
        opacity: 0;
        top: 50%;
        left: 70%;
        height: 0;
        width: 0;
    }

    to {
        opacity: 1;
        top: calc(10vh + 5rem);
        left: calc(20vw + 2vh + 2rem);
        height: calc(100vh - 11vh - 7rem);
        width: calc(100vw - calc(20vw + 3vh) - 4rem);
    }
}

.popup {
    padding: 2rem;
    color: var(--opacity-black-color);
    overflow: auto;

    background-color: #cdcdcd;
    position: fixed;
    z-index: 100;

    /*animation-name: popup;*/
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    top: calc(10vh + 5rem);
    left: calc(20vw + 2vh + 2rem);
    height: calc(100vh - 11vh - 7rem);
    width: calc(100vw - calc(20vw + 3vh) - 4rem);
}

.popup h2 {
    color: var(--opacity-black-color);
    margin-top: 0;
    font-size: 1.75em;
}

.popup input {
    float: left;
    width: 100%;
    border: solid 1px rgba(0, 0, 0, 0);
    outline: none;
    padding: .5rem;
}

.popup input:focus {
    border-radius: 2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: 1.4px solid var(--opacity-black-color);
}

.popup .popup-table {
    min-height: calc(100% - 110px);
}

.popup .popup-table,
.popup .popup-table tr {
    width: 100%;
    display: flex;
    padding-bottom: 0.5rem;
}

.popup .popup-table tr td {
    width: 75%;
}

.popup .popup-table>tr>td>table {
    width: calc(100% - 2rem);
    /* max-width: 60%; */
}

.popup .popup-table tr .popup-table-caption {
    align-items: center;
    display: flex;
}

.popup .popup-header {
    display: flex;
}

.popup .popup-header h2:first-child {
    flex: 1;
}

.popup .button-bar button {
    font-size: 1.75em;
    background-color: var(--opacity-white-color);
    border: 0px solid black;
    padding: 0.5rem;
    font-weight: bold;
    color: var(--opacity-black-color);
}

.popup .button-bar button:first-child {
    margin: 0 0.5rem 0 0;
}

.popup .button-bar button:not(:first-child) {
    margin: 0 0.5rem;
}

.alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;

    background-color: white;
    z-index: 200;
    box-shadow: 0 0px 0px 100vh var(--opacity-black-color);
    transition: all .3s ease;

    animation-name: alert;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    min-width: 20vw;
    color: var(--opacity-black-color);
    flex-direction: column;
}

.alert .content-wrapper {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.alert .content-wrapper .type {
    height: 6vh;
    padding: 1rem;
    filter: invert();
}

.alert .content-wrapper .message {
    padding: 1rem;
    padding-left: 0rem;
}

.alert .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.alert .buttons button {
    padding: 0.5rem;
    margin: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--opacity-black-color);
    border: 1px solid black;
    color: white;
    cursor: pointer;
    transition: all .3s ease;
}

.alert .buttons button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: black;
}

@keyframes alert {
    from {
        opacity: 0;
        overflow: hidden;
        min-width: 0vw;
    }

    to {
        opacity: 1;
        overflow: visible;
        min-width: 20vw;
    }
}

.basic-data-header h2 {
    font-size: 1.75em;
}

.basic-data-body{
    height: calc(100% - 4em);
    overflow-y: auto;
}

.basic-data-body .basic-data-table, 
.basic-data-body .basic-data-table tr
{
    width: 100%;
    border-spacing: 0;
}

.basic-data-body .basic-data-table tr:nth-child(odd):not(:has(th))
{
    background-color: rgba(100,100,100,.5);
}

.basic-data-body .basic-data-table tr:nth-child(even):not(:has(th))
{
    background-color: rgba(80,80,80,.5);
}

.basic-data-body .basic-data-table tr th,
.basic-data-body .basic-data-table tr td{
    text-align: left;
    font-size: 1.25em;
    padding: 0.5em;
}

.basic-data-body .basic-data-table .basic-data-table-add{
    height: 1.75em;
    cursor: pointer;
}